.action-login {
    display: flex;
    height: 100%;
}

.action-icon {
    width: 40%;
    text-align: right;
    padding-right: 20px;
    padding-top: 15px;
}

.action-button {
    display: flex;
    width: 60%;
    border-left: 1px solid #eee;
    margin-bottom: 10px;
}

.item-button {
    width: 150px;
    background: none;
    border: none;
    color: #0283df;
    font-size: 18px;
}

.item-button-left {
    border: 1px solid #0283df;
    border-radius: 5px;
}