.hotel {
    width: 100%;
    margin-top: 20px;

    &--noti {
        text-align: left;
        color: #fff;

        &--mes {
            background: #24457c;
            padding: 5px 10px 5px 10px;
            border-radius: 5px 5px 0 0;
            display: inline-block;
            font-size: 14px;
        }
    }

    &--item {
        display: flex;
        border: 1px solid #ddd;
        box-shadow: 0px 1px 1px 0px #ddd;

        &:hover {
            box-shadow: 2px 2px 2px 2px #ddd;
        }
    }
}