.filter {
    margin: 0 auto;
    max-width: 1110px;

    &--list-button {
        display: flex;

        .filter-button {
            padding: 18px 70px;
            font-weight: 600;
            font-size: 14px;
            background: #f9f9fa;
            border-width: 1px 0 1px 1px;
            outline: none;
            border-color: #dddfe2;
        }

        .filter-button:last-child {
            border-right: 1px solid #dddfe2;
        }

        .filter-item {
            border-top: 5px solid #5392f9;
            border-bottom: none;
            outline: none;
            background: white;
            color: #5392f9;
        }
    }

    &--list {
        display: flex;
        margin-top: 20px;

        &--slide-bar {
            width: 25%;
        }

        &--tab {
            width: 75%;
            padding-left: 20px;
            height: 100px;

            .filter-notify {
                height: 60px;
                background: blanchedalmond;
                margin-bottom: 10px;
            }
        }
    }

    @media ( min-width: 992px) and (max-width: 1200px){
        max-width: 940px;
    }
}
