.hotel-price {
  border-left: 1px solid #ddd;
  text-align: right;
  width: 20%;

  &-review {
    display: flex;
    line-height: 12px;
    justify-content: flex-end;

    .text-review {
      max-width: 110px;
      font-size: 14px;
      overflow-wrap: break-word;
      font-weight: 600;
    }

    .number-review {
      font-size: 12px;
      font-size: 12px;
      margin-top: -10px;
      color: #777;
    }

    &-point {
      background: #5392f9;
      height: min-content;
      margin-top: 10px;
      padding: 0 10px 0 10px;
      margin-left: 10px;
      border-radius: 5px;
      color: white;
    }
  }

  .hotel-price-content {
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    height: 75%;

    .mes {
      background: red;
      font-size: 13px;
      font-weight: 600;
      color: white;
      padding: 3px 5px 3px 5px;
      margin-right: -20px;
      border-radius: 3px;
    }

    .mes-sale {
      color: #28871c;
      font-size: 10px;
      background: #d8eed5;
      margin: 10px -20px 5px 75px;
      padding: 3px 5px 3px 5px;
      border-radius: 3px;
    }

    .title {
      font-size: 10px;
      color: #737373;
    }

    .crossed-out-price {
      color: #737373;
      font-size: 25px;
      position: relative;
    }

    .crossed-out-price::before {
      content: "";
      position: absolute;
      right: 0;
      top: 50%;
      width: 100%;
      border-top: 2px solid;
      transform: rotate(-10deg)
    }

    .price-defaute {
      font-size: 25px;

      .price-number {
        color: red;
      }

      .price-currency {
        color: #737373;
      }
    }
  }
}