.list-image {
    height: auto;
    width: 35%;
    background: white;

    .list-image-big {
        padding-right: 6px;

        img {
            width: 100%;
        }
    }

    .list-image-item {
        display: flex;
        flex-wrap: wrap;

        img {
            width: 54px;
            height: 43px;
            margin: 0px 1px 1px 0;
        }
    }
}