.list-image {
    height: auto;
    width: 250px;
    background: white;

    .list-image-big {
        padding-right: 5px;

        img {
            width: 100%;
        }
    }

    .list-image-item {
        display: flex;
        flex-wrap: wrap;
        width: 245px;

        img {
            width: 48px;
            height: 45px;
            padding: 0px 1px 1px 0;
        }
    }
}